@import "icons.css";
@import "bootstrap.css";
@import "login.css";
@import "stylesheet.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    position: relative;
    background: url("../img/backgrounds/body.jpg") left top repeat;
}
