#header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: blue;
}

#menu {
    position: fixed;
    top:50px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: chocolate;
}

.card-wrapper{
    margin: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
}

.card{
    width: 100%;
    height: 100%;
}

.card .front, .card .back{
    width: 100%;
    height: 100%;
    position: absolute;
}

.card .front {
    background-color: indianred;
}

.card .back {
    background-color: bisque;
}

.card .back img{
    width: 100%;
    height: 100%;
}